*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fix-footer {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  padding: 5 0 5 0;
  color: #FFF;
}

.subtitle {
  text-decoration: underline;
}

.logotipo:hover{
  border: solid #FFF;
}

.my-header {
  height: 70px;
  padding: 10px;
  font-style: bold;
  color: #1a1a1a;
}
