/*
* ESTILOS GERAIS
*/

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logotipo:hover{
  border: solid #FFF;
}

#map {
  height: 500px;
  border-radius: 10px;
  width: 90%;
  margin: 15px;
}
.btn-novo-posto:hover{
  background-color: #333;
}

.btn-novo-posto{
  width: 150px;
  height: 30px;
  background-color: #222;
  border-radius: 10px;
  color: #FFF;
}

.my-header {
  height: 70px;
  padding: 10px;
  font-style: bold;
  color: #1a1a1a;
}

.fix-footer {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  padding: 5 0 5 0;
  color: #FFF;
}